.currency-converter{
  display: flex;
  flex-direction: center;
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  color: black;
  padding-top: 50px;
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 400px; 
  width: calc(100% - 150px);
}  
