.page-container{
  display: flex;
  flex-direction: column; // Changed from 'center' (invalid value)
  justify-content: center;
  padding: 300px;
  max-width: 1200px;
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 200px; 
  width: calc(100% - 150px)
}