// scss  styling  for  Users.jsx  form
.usertab{ 
    display: flex;
    flex-direction: column;
    margin-left: 80px; 
    padding-right: 1px;
    font-family: 'Consolas';
    margin-left: 420px;
    bottom: 10px;
    
  
}

/*
.usertab {
  margin-left: 860px;
  margin: 0 auto;
  padding-right: 200px;
  font-family: 'Arial, sans-serif';
  max-width: calc(100% - 460px);
  padding-right: 1px;
}

*/